html{
    font-family: sans-serif;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
}
header img{
    max-width: 700px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.form{
    width: 600px !important;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
    padding: 10px;
    width: 90%;
}
.container p{
    letter-spacing: 2px;
}
.partpro{
    display: flex;
    flex-direction: column;
    margin: 30px auto 100px auto;
    width: 80%;
}
.partpro a {
    text-decoration:none;
}
.button{
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto auto auto;
    line-height: 40px;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    border: 2px solid whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
.button span{
    position: relative;
    z-index: 2;
}
.button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: lightskyblue;
    transition: all .35s;
}
.button:hover{
    color: dimgrey;
}
.button:hover:after{
    width: 100%;
}
button {
    background-color: black;
}
.leg p{
    font-style: italic;
    font-size: 0.7em;
    text-align: right;
    margin-right: 20px;
}
.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
}
.row2 {
    display: flex;
    justify-content: center;
}
.row2 select{
    width: 304px;
}
.row2 input{
    width: 304px;
}
.F{
    margin: 0 10px 1em 195px;
}
.M{
    margin: 0 10px 1em 50px
}
.row label{
    margin-top: 0.5em;
}
.Checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: black;
    font-size: 1.5em;
    margin: 0 1em 0 auto;
    border: 2px solid whitesmoke;
    padding-left: 5px;
    width: 28px;
    height: 28px;
}

.civ label{
    position: relative;
    margin-top: 19px;
}
input[type="radio"]:checked {

    background:url("../img/icon.jpeg");
    background-size: 100%;
}
input{
    font-size: 1.5em;
}
select.champ{
    min-width: 313px;
}
.champ{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0 2em 1em auto;
    border: 2px solid whitesmoke;
    padding-left: 5px;
}
.champSpe{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0 2em 1em auto;
    border: 2px solid whitesmoke;
    padding-left: 5px;
}
.error{
    border: 2px solid red;
    outline: 1px solid red
}
.surveyOK_p{
    text-align: center;
}
.errorTitle{
    text-align: center;
    font-size: 50px;
    border: solid 3px red;
    margin: 100px 0 50px 0;
    padding: 10px;
}
textarea{
    width: 300px;
    height: 70px;
    margin-bottom: 15px;
}
.select_form{
    width: 300px;
    margin-bottom: 15px;
}
@media (max-width: 640px) {
    * {
        box-sizing: border-box;
    }
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header img{
        max-width: 400px;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .form{
        width: 90% !important;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .row label{
        margin-bottom: 10px;
    }
    .civ{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .Checkbox{
        margin: auto 10px auto 20px;
    }
}
@media (max-device-width:768px) and (orientation: landscape) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}




